<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>관리자페이지</title>
</head>
<body>
        <div>
            <button
                type="button" onclick="location.href='/admin/CNotice'">공지추가</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='/admin/CChall'">문제추가</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='/admin/DMember'">유저삭제</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='/admin/DChall'">문제삭제</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='/admin/UChall'">문제수정</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='/admin/DNotice'">공지삭제</button>
        </div>   
</body>
</html>