<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LOGCON 2021</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/assets/css/bootstrap4-neon-glow.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/particles.css">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    
  </head>
  <body>
    <%- include('nav',{data:data}) %>
    <div class="jumbotron bg-transparent mb-0 radius-0" id="main-cont">
      <div class="container">
          <div class="col">
            <div class="col-xl-6">
              <h1 class="display-3">LOGCON<span class="vim-caret">͏͏&nbsp;</span></h1>
              <div class="lead mb-3 text-mono text-success">안녕하세요 여러분! 
                LOGCON은 TeamLog에서 매년 주최하는 서버퀴즈대회입니다.
                네트워크 서버 등 다양한 분야의 문제들을 준비했으니
                IT 분야에 관심이 있는 학생이라면 도전해보세요!
              </div>

              <% if(!data.pk) { %>
              <div class="text-mono">
                <a href="/member/login"
                  title="Download Theme"
                  class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                  Login
                </a>
                <a href="/member/register"
                  class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                  Register
                </a>
              </div>
              <% } %>
            </div>
          </div>
          <div class="col">
            <img src="/assets/img/poster.png" alt="">
          </div>
      </div>
    </div>
    <div class="footer">
      <div class="row justify-content-center">
        
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="/assets/js/app.js"></script>
  </body>
</html>
